#root {
    background-color: #060ce9;
    color:whitesmoke;
    font-weight: 900;
    width: 100vw;
    height: 94.6vh;
}

body {
    padding-top: 56px;
}

.quiz-table {
    width: 100%;
}

.quiz-table th {
    padding: 8px;
    text-align: center;
}

.columns {
    display: flex;
}

.column {
    padding-top: 25px;
    margin: 10px;
    flex: 1;
}

.column .btn-primary {
    background-color: #060ce9;
    color: #D69F4C;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    font-size: xx-large;
    font-weight: 900;
}

.category-name {
    font-size: 18px;
    font-weight: bold;
}

.input-card {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    font-size: large;
  }